<h1>About</h1>

<p>Simple application for restaurant tables reservations.</p>
<p>Reservations have a start time, an end time and a table number.</p> 
<p>There is a validation that check new reservations for overbooking of the same table in the restaurant. The table cannot have 2 reservations for the same period of time.</p>
<p>for any questions please contact me: ros55[at]ukr[dot]net</p>
<p>PS. Ruby on Rails junior will be happy to join team of mentors to get more experience :)</p>